h1{
    text-align: center;
    color: blue;
}
#label1{
  margin-left: 45%;
  font-weight: bold;
  font-size: 20px;
}
#label2{
  font-weight: bold;
  font-size: 20px;
}
#totalPassword{
    border-color: aliceblue;

}
#form1{
    margin-left: 42%;
}
body{
    background-color: gray;
}
#searchBar{
    height: 25px;
    width: 20%;
}
#label3{
    font-weight: bold;
  font-size: 20px;
}
#label4{
    font-weight: bold;
    font-size: 20px;
}
#title{
    height: 25px;
    width: 20%;
}
#password{
    height: 25px;
    width: 20%;
}
#add{
    height: 25px;
    width: 5%;
   background-color: blue;
}
#del{
    font-weight: bold;
    background-color:peachpuff;
}
#edit{
    font-weight: bold;
    background-color:peachpuff;
}
li{
    font-weight: bold;
    list-style-type: none;
}